.indexPage
     {
       height: 1296px;
         /*height : 900px;*/
         width : 100%;
         padding: 0;
         margin: 0;
     }
.pgmain
{
    height : 600px;
    width : 100%;
    padding: 0;
}
.indexHeader
{
    height : 15%;
    width : 100%;
    background-color: #006400;
    padding: 0;
    margin: 0;
    float: left;
    /*position: fixed;*/
    /*z-index: 1;*/
    /*display: inline;*/
}
.indexBody
{
    /* height:842px; */
    height : 65%;
    width : 100%;
    background-color: #006400;
    padding: 0;
    margin: 0;
    float: left;
    /*display: inline;
    float: right;*/
}
.indexFooter
{
    height : 10%;
    width : 100%;
    background-color: #006400;
    padding: 0;
    margin: 0;
    float: left;
    /*display: inline;
    float: right;*/
}
.indexFooterScrollLayout
{
    height : 100%;
    width : 100%;
    background-color: #006400;
    padding: 0;
    margin: 0;
    float: left;
    display: flex;
    overflow-x: scroll;
    /* display: inline-block;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: auto; */
    /* display: inline;
    float: right;*/
}
/* .indexFooterScrollLayout
{

} */

.frames
{
    border-width: 0px;
   /*border-color: currentColor;*/
}

.indexImgHeader
{
  width: 100%;
  height: 100%;
  /*object-fit: fill;*/
  /*object-fit: contain;*/
}
